absl-py==2.1.0
chex==0.1.86
etils==1.9.4
flax==0.9.0
fsspec==2024.9.0
humanize==4.10.0
importlib_resources==6.4.5
jax==0.4.33
jaxlib==0.4.33
markdown-it-py==3.0.0
mdurl==0.1.2
ml_dtypes==0.5.0
msgpack==1.1.0
nest-asyncio==1.6.0
numpy==2.1.1
opt-einsum==3.3.0
optax==0.2.3
orbax-checkpoint==0.6.4
protobuf==5.28.1
Pygments==2.18.0
PyYAML==6.0.2
rich==13.8.1
scipy==1.14.1
setuptools==75.1.0
tensorstore==0.1.65
toolz==0.12.1
typing_extensions==4.12.2
zipp==3.20.2
